#include "windows.h"

LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
#pragma code_page(932)
//
// Version
//
VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,5
 PRODUCTVERSION 1,0,0,5
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041104b0"
        BEGIN
            VALUE "FileDescription", "BonDriver Service Splitter"
            VALUE "FileVersion", "1.0.0.5"
            VALUE "InternalName", "BonDriver_Splitter"
            VALUE "LegalCopyright", "2015 unknown"
            VALUE "OriginalFilename", "BonDriver_Splitter.dll"
            VALUE "ProductName", "BonDriver Service Splitter"
            VALUE "ProductVersion", "1.0.0.5"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x411, 1200
    END
END
