#include "windows.h"

LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
#pragma code_page(932)
//
// Version
//
VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,1,5,1
 PRODUCTVERSION 1,1,5,1
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041104b0"
        BEGIN
            VALUE "FileDescription", "BonDriverProxy Client Driver"
            VALUE "FileVersion", "1.1.5.1"
            VALUE "InternalName", "BonDriver_Proxy"
            VALUE "LegalCopyright", "2014 unknown"
            VALUE "OriginalFilename", "BonDriver_Proxy.dll"
            VALUE "ProductName", "BonDriverProxy Driver"
            VALUE "ProductVersion", "1.1.5.1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x411, 1200
    END
END
